{{#partial "htmHead"}}{{> htmHeadChoiceReportPage}}{{/partial}}
{{#partial "htmTitle"}}{{> htmTitleChoiceReportPage}}{{/partial}}
{{#partial "htmMeta"}}{{> htmMetaChoiceReportPage}}{{/partial}}
{{#partial "htmStyle"}}{{> htmStyleChoiceReportPage}}{{/partial}}
{{#partial "htmScripts"}}{{> htmScriptsChoiceReportPage}}{{/partial}}
{{#partial "htmScript"}}{{> htmScriptChoiceReportPage}}{{/partial}}
{{#partial "htmBodyStart"}}{{> htmBodyStartChoiceReportPage}}{{/partial}}
{{#partial "htmBodyEnd"}}{{> htmBodyEndChoiceReportPage}}{{/partial}}
{{#partial "htmBody"}} {{> htmBodyChoiceReportPage}}{{/partial}}
{{#partial "htmBodyCount0"}}{{> htmBodyCount0ChoiceReportPage}}{{/partial}}
{{#partial "htmBodyCount1All"}}
<a href="{{siteBaseUrl}}/display-report/{{choiceReport_.pk}}">View the report</a>
{{> htmBodyCount1AllChoiceReportPage}}
{{/partial}}
{{#partial "htmBodyCount1"}}
<a href="{{siteBaseUrl}}/display-report/{{choiceReport_.pk}}">View the report</a>
{{> htmBodyCount1ChoiceReportPage}}
{{/partial}}
{{#partial "htmBodyAll"}}{{> htmBodyAllChoiceReportPage}}{{/partial}}
{{#partial "htmForm"}}{{> htmFormChoiceReportPage}}{{/partial}}
{{#partial "htmForms"}}{{> htmFormsChoiceReportPage}}{{/partial}}
{{#partial "htmBodySuggested"}}{{> htmBodySuggestedChoiceReportPage}}{{/partial}}
{{#partial "htmForm_putimportChoiceReport"}}{{> htmFormChoiceReportPage_putimportChoiceReport}}{{/partial}}
{{#partial "htmForm_postChoiceReport"}}{{> htmFormChoiceReportPage_postChoiceReport}}{{/partial}}
{{#partial "htmForm_patchChoiceReport"}}{{> htmFormChoiceReportPage_patchChoiceReport}}{{/partial}}
{{#partial "htmForm_searchpageChoiceReport"}}{{> htmFormChoiceReportPage_searchpageChoiceReport}}{{/partial}}
{{> ChoiceReportGenPage}}
